################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ItemCheckOutAPI/obj
/ItemCheckOutAPI/bin/Debug/net5.0
/Nanoservices.Infrastructure/obj
/Nanoservices.Infrastructure/bin/Debug
/serverless-nanoservices/obj
/serverless-nanoservices/bin/Debug
/Nanoservices.Entities/obj
/Nanoservices.Entities/bin
